.ability-keyword {
  display: flex;
  align-items: center;
  padding-inline: 1rem;
  margin-block: 0.5rem;
  gap: 1rem;

  .ability-keyword-name {
    padding: 0.125rem 0.5rem;
    min-width: 6rem;
    background-color: rgb(222 145 33);
    border-radius: 3px;

    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.ability-keyword-description {
  mark {
    padding: 0;
    background-color: transparent;
    color: rgb(248 158 27);
  }
}