.hero-stats {
  margin-block: 1rem;
  display: grid;
  grid-template-columns: auto auto 1fr;
  grid-template-rows: repeat(3, auto);

  .hs-icon {
    grid-column: 1 / 2;
    grid-row: 1 / -1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 4rem;
    margin-inline-end: 1rem;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      border-radius: 3px;
    }

    &:empty::before {
      content: "头像暂缺";
      font-size: 12px;
      color: rgb(232 234 234 / 25%);
      white-space: nowrap;
    }
  }

  .hs-hit-points {
    grid-row: 1 / 2;
    grid-column: 3 / -1;
    display: grid;
    grid-template-columns: auto auto 1fr;
    grid-template-rows: repeat(2, auto);
    align-items: center;
    justify-content: start;

    .hs-icon-hit-points {
      grid-row: 1 / 2;
      grid-column: 1 / 2;
      display: none;
    }

    .hp-bar {
      grid-row: 1 / 2;
      grid-column: 2 / 3;
    }

    // @deprecated 下次删除，以免缓存页面受影响
    .hs-hp-bar {
      grid-row: 1 / 2;
      grid-column: 2 / 3;
      --slice-width: 1.5rem;
      --gap: 2px;
      height: 2rem;
      max-width: calc(10 * (var(--slice-width) + var(--gap)));
      display: flex;

      .hs-hp-bar-slice {
        flex-grow: 0;
        flex-shrink: 1;
        margin-right: var(--gap);
        background-color: var(--color);
        width: calc(var(--value) * var(--slice-width) / 25);
        border-radius: 2px;

        &[data-type="health"] {
          background-color: rgb(254, 254, 255);
        }

        &[data-type="armor"] {
          background-color: rgb(254, 134, 27);
        }

        &[data-type="shields"] {
          background-color: rgb(105, 228, 249);
        }
      }
    }

    .hs-hp-total {
      grid-row: 1 / 2;
      grid-column: 3 / 4;
      margin-inline-start: 0.5rem;
      font-weight: bold;
    }

    .hs-hp-values {
      grid-row: 2 / 3;
      grid-column: 2 / -1;
      margin-top: 0.25rem;
      font-size: 0.875rem;

      display: flex;
      align-items: center;
      justify-content: start;
      gap: 0.25rem;

      :nth-child(odd):not(:first-child) {
        margin-inline-start: 0.5rem;
      }

      .hs-hp-health-label[data-hero-role="tank"] {
        border-bottom: 1px dashed #cccccc;
        cursor: help;
      }

      .hs-hp-armor-label {
        border-bottom: 1px dashed rgb(254, 134, 27);
        cursor: help;
      }

      .hs-hp-shields-label {
        border-bottom: 1px dashed rgb(105, 228, 249);
        cursor: help;
      }
    }
  }

  .hs-stats {
    grid-row: 2 / 3;
    grid-column: 2 / -1;
    margin-top: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: start;
    font-size: 0.875rem;

    & > :nth-child(odd):not(:first-child) {
      margin-inline-start: 1rem;
      margin-inline-end: 0.25rem;
    }
  }

  .hs-icon-hit-points,
  .hs-icon-movement-speed,
  .hs-icon-melee-damage {
    width: 1em;
    height: 1em;
    margin-inline-end: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  .hs-icon-movement-speed img {
    width: 120%;
    height: 120%;
  }
}

.hp-bar {
  --slice-width: 1.5rem;
  --gap: 2px;
  max-width: calc(var(--max-slices, 10) * (var(--slice-width) + var(--gap)));
  margin-bottom: calc(var(--gap) * -1);
  display: flex;

  .hp-bar-slice {
    flex-grow: 0;
    flex-shrink: 1;
    margin-right: var(--gap);
    margin-bottom: var(--gap);
    background-color: var(--color);
    width: calc(var(--slice-width) * var(--value) / 25);
    height: 2rem;
    border-radius: 2px;

    &[data-type="health"] {
      background-color: rgb(254, 254, 255);
    }

    &[data-type="armor"] {
      background-color: rgb(254, 134, 27);
    }

    &[data-type="shields"] {
      background-color: rgb(105, 228, 249);
    }
  }
}

@media (max-width: 768px) {
  .hero-stats .hs-hit-points .hp-bar {
    --slice-width: 1rem;
  }
}
