.html-ability-info {
  max-width: 60rem;
  margin-block-end: 1rem;

  padding: 1rem;
  background-color: rgb(8 27 42 / 40%);
  border-radius: 0.25rem;

  display: flex;
  flex-direction: column;

  .hai-header {
    display: grid;
    grid-template-columns: auto auto 1fr auto;
    grid-template-rows: auto 1fr;

    &:has(.hai-keywords) {
      grid-template-rows: auto 1fr auto;
    }

    .hai-icon {
      grid-column: 1 / 2;
      grid-row: 1 / -1;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 4rem;
      height: 4rem;
      margin-right: 0.5rem;
      margin-bottom: 0.5rem;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }

      &:empty::before {
        content: "图标暂缺";
        font-size: 12px;
        color: rgb(232 234 234 / 25%);
        white-space: nowrap;
      }
    }

    .hai-name {
      grid-column: 2 / 3;
      grid-row: 1 / 2;

      font-size: 1.25rem;
      line-height: 1.5rem;
      font-weight: bold;
      color: rgb(30 218 218);
    }

    .hai-basic-stats {
      grid-column: 3 / 4;
      grid-row: 1 / 2;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: 0.5rem;
      margin-inline-start: 0.5rem;

      color: rgb(232 234 234);

      &:empty {
        display: none;
      }

      &::before {
        content: "";
        background-color: rgb(232 234 234 / 25%);
        width: 1px;
        height: 1rem;
      }

      & > * {
        display: inline-flex;
        align-items: center;
        cursor: default;

        &[data-title] {
          cursor: help;
        }
      }

      .hai-ammo {
        --icon: url("/wiki/Special:Redirect/file/职责：输出_图标.png");
        --icon-size: 1em;
      }

      .hai-reload-time {
        --icon: url("/wiki/Special:Redirect/file/icon_reload_time.png");
        --icon-size: 1.125em;
      }

      .hai-cooldown {
        --icon: url("/wiki/Special:Redirect/file/icon_cooldown.png");
        --icon-size: 1em;
      }

      .hai-ultimate-charge {
        --icon: url("/wiki/Special:Redirect/file/icon_ultimate_charge.png");
        --icon-size: 1em;
      }

      .hai-ammo,
      .hai-reload-time,
      .hai-cooldown,
      .hai-ultimate-charge {
        font-size: 1rem;
        line-height: 1rem;
        display: inline-flex;
        align-items: center;

        &::before {
          content: "";
          display: inline-block;
          width: var(--icon-size);
          height: var(--icon-size);
          margin-inline-end: 0.125rem;
          background-color: currentColor;
          mask-image: var(--icon);
          mask-size: contain;
        }
      }

      .hai-charges {
        width: 0.875rem;
        height: 0.875rem;
        margin-inline: 0.25rem;

        background-color: rgb(232 234 234);
        border-radius: 50%;
        box-shadow:
          0 0 0 1px currentColor,
          0 0 0 2px rgb(232 234 234 / 50%);

        display: inline-flex;
        align-items: center;
        justify-content: center;

        font-size: 0.75rem;
        color: rgb(8 27 42);
      }

      .hai-reload-time,
      .hai-cooldown {
        &::after {
          content: "秒";
          font-size: 0.875rem;
        }
      }
    }

    .hai-button {
      grid-column: 4 / 5;
      grid-row: 1 / 2;
      font-size: 0.875rem;
      color: rgb(232 234 234 / 50%);
    }

    .hai-description {
      grid-column: 2 / -1;
      grid-row: 2 / 3;
      margin-top: 0.25rem;

      font-size: 1rem;
      line-height: 1.25rem;
      color: rgb(232 234 234);

      .hai-kbd {
        display: inline-block;
        width: 0.8em;
        height: 1em;
        background-image: var(--icon);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        margin-bottom: -2px;

        &[data-kbd="鼠标左键"] {
          --icon: url("/wiki/Special:Redirect/file/icon_kbd_鼠标左键.png");
        }

        &[data-kbd="鼠标右键"] {
          --icon: url("/wiki/Special:Redirect/file/icon_kbd_鼠标右键.png");
        }
      }
    }

    .hai-keywords {
      grid-column: 2 / -1;
      grid-row: 3 / 4;
      margin-top: 0.25rem;

      display: flex;
      flex-wrap: wrap;
      gap: 0.25rem;

      &:empty {
        height: 0;
        margin-top: 0;
      }

      .hai-keywords-item {
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 4rem;
        padding: 0.125rem;
        font-size: 0.75rem;
        background-color: rgb(222 145 33);
        border-radius: 3px;
        cursor: help;
      }

      .hai-keywords-has-mark::after {
        content: "*";
      }
    }
  }

  .hai-stats {
    margin-top: 0.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;

    .hai-stats-title {
      display: block;
      font-size: 0.75rem;
      line-height: 1rem;
      margin-bottom: 0.5rem;
      color: rgb(232 234 234 / 25%);
    }

    dl {
      margin: 0;
      padding-left: 0.5rem;
      display: grid;
      grid-template-columns: auto 1fr;
      gap: 0.5rem 1rem;

      dd,
      dt {
        margin: 0;
        font-size: 0.875rem;
        line-height: 1.125rem;
      }
    }
  }

  &[data-category="Ability"] {
    .hai-icon {
      padding: 0.25rem;
      border: 2px solid rgb(255 255 255 / 25%);
      border-radius: 0.5rem;
    }
  }

  &[data-category="UltimateAbility"] {
    .hai-icon {
      padding: 0.5rem;
      border: 2px solid #31ffff;
      border-radius: 50%;
      box-shadow: 0 0 12px 2px #0e43ff;
    }
  }

  &[data-category="PassiveAbility"]:not([data-name^="副职责"]),
  &[data-category="Perk"] {
    .hai-icon {
      padding: 0.5rem;
      border: 2px solid rgb(255 255 255 / 25%);
      border-radius: 50%;
      width: 3.5rem;
      height: 3.5rem;
      margin: 0 0.75rem 0.5rem 0.25rem;
    }
  }

  &[data-category="PassiveAbility"][data-name^="副职责"] {
    .hai-icon {
      padding: 0.25rem;
    }
  }
}

.html-ability-info-keyword-description {
  mark {
    padding: 0;
    background-color: transparent;
    color: rgb(248 158 27);
  }
}

@media (max-width: 768px) {
  .html-ability-info {
    .hai-stats {
      grid-template-columns: 1fr;
    }
  }
}
