.template-page-tabs {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  height: 2rem;
  padding-inline: 1rem;
  border-bottom: 2px solid var(--brand-primary);
  margin-bottom: 2rem;
}

.template-page-tabs-tab {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-inline: 0.5rem;
  border: 1px solid var(--brand-primary);
  border-bottom: none;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;

  &--selected {
    background: var(--brand-primary);
  }
}

.huiji-css-hook:has(.template-page-tabs) {
  .page-header {
    border-bottom: none;
  }
}

@media (max-width: 480px) {
  .template-page-tabs {
    clear: both;
  }
}
