.nav-infobox {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  & > li {
    margin: 0;
    line-height: 1.2;

    border-bottom: 2px solid transparent;
    transition: border-bottom-color 0.3s;

    --nav-text-color: var(--a);
    &.active {
      --nav-text-color: var(--detail-color);
      border-bottom-color: var(--detail-color);
    }

    & > a {
      padding: 0.125rem 1rem;
      color: var(--nav-text-color);
      transition: color 0.3s;

      &:hover,
      &:focus {
        background-color: transparent;
      }
    }
  }
}

.nav-tabs {
  padding-inline: 1rem !important;
  --tab-border-color: #808080;
  border-bottom-color: var(--tab-border-color);

  & > li > a {
    line-height: 1;
    padding: 0.5rem 1rem;
    transition: all 0.3s;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;

    &:hover {
      background-color: transparent;
      border-color: var(--tab-border-color);
      border-bottom-color: transparent;
    }
  }
  & > li.active > a,
  & > li.active > a:hover,
  & > li.active > a:focus {
    color: var(--brand-default);
    background-color: transparent;
    border-color: var(--tab-border-color);
    border-bottom-color: transparent;
  }
}
